# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Entornos y secretos
.env

# Tooling
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# SQLite local (solo para pruebas rápidas)
*.db

# macOS
.DS_Store
